{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
<div class="col-sm-6 col-sm-offset-3">
{% if instance.image %}
	<img src="{{ instance.image.url }}" class="img-responsive" />
{% endif %}
<h1>{{ title }} <small>{{ instance.timestamp }}<br/></small></h1>
{% if instance.user.get_full_name %}
<p>Author: {{ instance.user.get_full_name }}</p>
{% endif %}
<a href="https://twitter.com/home?status={{ instance.content|truncatechars:20|urlify }}%80{{ request.build_absolute_uri }}/">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google</a>



{{ instance.content|linebreaks }}<br/>



</div>

{% endblock content %}